.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-fixed;
	background-color: $dark-blue;
}

.nav {
	height: calc($header-height + 2.4rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1.6rem;

	&__logo,
	&__toggle {
		color: $gold;
		font-weight: 500;
	}

	&__logo {
		font-size: 2.5rem;
		
		img {
			display: block;
			width: 30px;
		}
	}

	&__list {
		display: flex;
		column-gap: 2rem;
	}

	&__link {
		@include flex-column;
		font-weight: 500;
		color: $gold;
		transition: all .3s;
	}

	&__icon,
	&__close,
	&__toggle {
		display: none;
	}
}

.active-link {
	color: white;
}

.scroll-header {
	box-shadow: 0 -1px 4px $light;
}

/* ====== MEDIA ====== */
@media (hover: hover) {

	.nav__close:hover,
	.nav__toggle:hover,
	.nav__link:hover {
		color: white;
	}
}

/* Medium devices */
@media screen and (max-width: 768px) {
	.header {
		top: initial;
		bottom: 0;
	}

	.nav {
		height: calc($header-height + 1.6rem);

		&__menu {
			position: fixed;
			bottom: -100%;
			left: 0;
			width: 100%;
			background-color: $dark-blue;
			padding: 3.2rem 2.4rem 6.4rem;
			box-shadow: 0 -1px 4px rgba($color: white, $alpha: 0.15);
			border-radius: 2.4rem 2.4rem 0 0;
			transition: all .3s;
		}

		&__list {
			@include grid();
			grid-template-columns: repeat(4, 1fr);
		}

		&__icon {
			font-size: 1.8rem;
		}

		&__close {
			position: absolute;
			right: 2rem;
			bottom: .8rem;
			cursor: pointer;
			color: $gold;
			font-size: 2.3rem;
		}

		&__toggle {
			font-size: 3.5rem;
			cursor: pointer;
		}

		&__icon,
		&__close,
		&__toggle {
			display: block;
		}
	}

	.show-menu {
		bottom: 0;
	}

}

@media screen and (max-width: 576px) {
	.nav__logo {
		font-size: 2rem;
	}

	.nav__toggle {
		font-size: 2.5rem;
	}
}

/* Small devices */
@media screen and (max-width: 350px) {
	.nav__menu {
		padding: 3.2rem 0.4rem 6.4rem;
	}

	.nav__list {
		column-gap: 0;
	}
}