/* COLORS */
$gold: rgb(187, 163, 81);
$white: white;
$light: rgba(255, 255, 255, 0.306);
$blue: rgb(10, 45, 79);
$light-blue: rgba(10, 45, 79, 0.781);
$dark-blue: rgb(6, 29, 51);

/* Font */
$body-font: "Popppins", sans-serif;

/* HEIGHT & WIDTH */
$footer-height: 180px;
$header-height: 3rem;
$logo-height: 50px;

/* z index */
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
